*{
    font-family: 'Ubuntu';
}

.App {
    text-align: center;

    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10vh;
}

h2{
    margin: 10vh 0 2vh 0;
    font-size: calc(10px + 4vmin);
}

.HeaderImage{
    height: calc(10px + 30vmin);
    max-width: 100%;
}

.FinishedFrame {
    height: 36vh;
    margin: 2vh;
}

.App-logo {
  height: 40vmin;
.FrameChooser .frame{
    height: 12vh;
    margin: 2vh;
    cursor: pointer;
    box-shadow: 0 0 0 1vh rgba(255,255,255,0);
    transition: transform 0.2s ease;
}
.FrameChooser .frame:hover{
    transform-origin: center center;
    transform: scale(1.1);
}
.FrameChooser .frame.choosen{
    box-shadow: 0 0 0 1vh white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
button,
.labelButton{
    outline: none;
    border: none;
    margin: 2vh;
    padding: 1vh 2vh;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    cursor: pointer;

    background: white;
    color: var(--volt-purple);
    transition: transform 0.2s ease;
}
button:hover,
.labelButton:hover{
    transform-origin: center center;
    transform: scale(1.05);
}

.App-link {
  color: #61dafb;
.labelButton img{
    display: inline;
    height: calc(10px + 4vmin);
    vertical-align: middle;
    margin: 0 2vh 0 -1vh;
}
.labelButton span{
    vertical-align: middle;
}
