.App {
  text-align: center;

.HeaderImage{
    height: calc(10px + 30vmin);
    max-width: 100%;
}
}

.App-logo {
  height: 40vmin;
.FrameChooser .frame{
    height: 12vh;
    margin: 2vh;
    cursor: pointer;
    box-shadow: 0 0 0 1vh rgba(255,255,255,0);
    transition: transform 0.2s ease;
}
.FrameChooser .frame:hover{
    transform-origin: center center;
    transform: scale(1.1);
}
.FrameChooser .frame.choosen{
    box-shadow: 0 0 0 1vh white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
